.sobre-nosotros {
  background-color: #fafafa;
}

.titulo-seccion {
  color: #020202;
  font-weight: 700;
  margin-bottom: 1rem;
}
.timeline {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 5px;
  background-color: #EDA35A;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2.5px;
}

.timeline-item {
  padding: 20px 40px;
  position: relative;
  width: 50%;
}

.timeline-item.left {
  left: 0;
}

.timeline-item.right {
  left: 50%;
}

.timeline-content {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  border-left: 5px solid #EDA35A;
  transition: all 0.3s ease;
}

.timeline-content:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.timeline-content img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-bottom: 3px solid #EDA35A;
}

.card-title {
  color: #090909;
  font-weight: 700;
  margin-bottom: 10px;
}

.card-text {
  color: #333;
  font-size: 0.95rem;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 25px;
  right: -12px;
  width: 20px;
  height: 20px;
  background-color: #EDA35A;
  border-radius: 50%;
  z-index: 1;
}

.timeline-item.right::before {
  left: -12px;
}
/* --- efectitos  --- */
.fade-in {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeInUp 1s forwards;
}

.fade-in:nth-child(1) { animation-delay: 0.2s; }
.fade-in:nth-child(2) { animation-delay: 0.4s; }
.fade-in:nth-child(3) { animation-delay: 0.6s; }
.fade-in:nth-child(4) { animation-delay: 0.8s; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --- media de responsive --- */
@media screen and (max-width: 768px) {
  .timeline::after {
    left: 10px;
  }

  .timeline-item {
    width: 100%;
    padding-left: 40px;
    padding-right: 25px;
  }

  .timeline-item.right {
    left: 0;
  }

  .timeline-item::before {
    left: 0;
  }
}